---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ryan Lauderbach">
  <main
    class="flex min-h-screen flex-col items-center justify-center p-24 text-center"
  >
    <h1 class="items-center pb-1 text-5xl">Ryan Lauderbach</h1>
    <p class="pb-6 text-neutral-200">Software Engineering at Cal Poly</p>
    <p class="pb-20 text-neutral-500 underline hover:text-neutral-400">
      <a
        href="https://github.com/Rayn322"
        target="_blank"
        rel="noopener noreferrer"
      >
        github
      </a>
    </p>
  </main>
</Layout>
